html{
    height: 100%;
    margin: 0;
} 

body{
    height: 100%;
    margin: 0;
    padding: 0;
} 
#root{
    height: 100%;
    margin: 0;
} 
.calendar{
    width: 70%;
    height: 90%;
    margin: 0px auto;
}

.header{
    margin: 5px;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.col.col-start{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1%;
    color: #869DAB;
    text-align: center;
}
span .text{
    font-size: 0.8em;
}
span .text.month{
    margin-right: 5px;
    font-size: 1.6em;
    font-weight: 600;
    
}
.col.col-end1{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
.col.col-end2{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
svg{
    width: 11%;
    height: fit-content;
    margin-left: 5%;
    color: transparent(gray, 0.2);

}
svg:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1.15);
    color:#686868;
}

/* week */
.days{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.65em;
    padding: 2px;
    color: #869DAB;
}
.days .col{
    width: 12.5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 1%;
    background-color:#DCC1B0;
    border-radius: 3px;
}

/*day*/
.body{
    width: 100%;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body .row{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.body .row .col{
    width: 13.5%;
    height: 93%;
    /* padding-bottom: 14%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0.4px solid gray;
    border-radius: 3px;
    font-size: 0.8em;
    color: #3D313F;
}
.body .row .col span{
    margin: 4px 0 0 4px;
}
.body .row .col .not-valid{
    color:#b6b5b5;
}
.body .row .col img{
    opacity: 0.1;
}
.body .row .col.cell.valid:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow:  1.5px 1.5px 0px 0px #686868;
    transform: scale(1.01);
    border: none;
    /* background-color: #ebcfc6; */
}
.body .row .col.cell.selected{
    box-shadow:  1.5px 1.5px 0px 0px #686868;
    transform: scale(1.02);
    border: none;
    background: #DCC1B0;
    color: #869DAB;
    font-weight: 600;
}

/* 
#DCC1BO
#869DAB
#847072
#3D313F 
*/